.video {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.video__player {
    object-fit: contain !important;
    width: 100% !important;
    height: 100% !important;
}

.video-visibility-control {
    background-color: transparent;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 50%;
}
